aside {
    width: 20%;
    position: fixed;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 1px solid black;
}
li {
    text-decoration: underline;
}